.picture{
  background-repeat: no-repeat;
  background-size: contain;
  width : 500px;
  height : 500px;
  max-width : 400px;
  max-height : 500px;
  float: right;
  margin-top: -400px;
  margin-right: 100px;
  
}